{
  "openapi": "3.1.0",
  "info": {
    "title": "Quasar ID Integration API",
    "version": "1.0.0",
    "description": "API specification for Quasar ID authentication, profile music broadcast and Quasar Messenger synchronization."
  },
  "servers": [
    {
      "url": "https://api.quasar.id/v1",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:8088/api/v1",
      "description": "Local Mock Server"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Register new Quasar ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "username", "password"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "username": { "type": "string" },
                  "password": { "type": "string", "minLength": 6 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string" },
                    "refreshToken": { "type": "string" },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "username": { "type": "string" },
                        "email": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Login to Quasar ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["identifier", "password"],
                "properties": {
                  "identifier": { "type": "string", "description": "Email or Username" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          }
        }
      }
    },
    "/user/profile/music": {
      "put": {
        "summary": "Set pinned profile music and broadcast status",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "track": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "service": { "type": "string" },
                      "title": { "type": "string" },
                      "artist": { "type": "string" },
                      "artwork_url": { "type": "string" },
                      "duration": { "type": "integer" }
                    }
                  },
                  "broadcast_status": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile music updated successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
